$primary: #006699;

h2 {
	color: $primary;
}

.btn{
	width: 12em;
	height: 2em;
	line-height: 2em;
	text-align: center;
	background-color: #ccc;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 0px #ccc;
	cursor: pointer;
	margin: 10px;
}
